Repository VriesDeRick/horus, pull requests merged in 2019-03, with the labels that each got.

#124 Canvas card watermark
  frontend/src/components/CanvasCard.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/components/pages/navigationBar/NavigationBarItem.tsx
  frontend/src/styling/index.scss
Labels: adjustment, front-end

#127 Add SSL redirect to production profile
  backend/src/main/kotlin/nl/utwente/horus/configurations/SSLConfiguration.kt
  backend/src/main/resources/application-production.properties
Labels: back-end, feature

#122 Canvas settings frontend
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  frontend/src/components/App.tsx
  frontend/src/components/pages/canvas-settings/CanvasCourseImport.tsx
  frontend/src/components/pages/canvas-settings/CanvasTokenForm.tsx
  frontend/src/routes.ts
  frontend/src/state/canvas-settings/actions.ts
  frontend/src/state/canvas-settings/constants.ts
  frontend/src/state/canvas-settings/reducer.ts
  frontend/src/state/canvas-settings/sagas.ts
  frontend/src/state/canvas-settings/selectors.ts
  frontend/src/state/canvas-settings/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/sagas.ts
  frontend/src/state/state.ts
Labels: back-end, feature, front-end

#123 External sidebar component
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/sidebar/Sidebar.tsx
  frontend/src/styling/index.scss
Labels: front-end

#78 WIP: SAML Single Sign-On (SSO)
  backend/.gitignore
  backend/build.gradle
  backend/src/main/kotlin/nl/utwente/horus/HorusApplication.kt
  backend/src/main/kotlin/nl/utwente/horus/HorusConfigurationProperties.kt
  backend/src/main/kotlin/nl/utwente/horus/ServletInitializer.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/AuthCodeLoginAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/JWTAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/SAML2MetadataProviderFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/SAML2SSOAuthenticationRequestRedirectFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/SAML2SSOAuthenticationResponseAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/AuthCodeTokenLoginAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/SAML2SSOAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/saml/SAML2AttributeExtractionScheme.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/saml/SAML2AttributeExtractor.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/saml/SAML2AuthenticationCredentials.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/saml/SAML2ClientHolder.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/saml/UTSAML2AttributeExtractionScheme.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/AuthCodeToken.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/TokenFactory.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/util/SAML2Util.kt
  backend/src/main/kotlin/nl/utwente/horus/configurations/HorusWebSecurityConfiguration.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/AuthCode.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/AuthCodeRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/AuthCodeService.kt
  backend/src/main/resources/application-develop.properties
  backend/src/main/resources/application-production.properties
  backend/src/main/resources/db/migration/V1.1.0_2__auth_codes.sql
  frontend/package.json
  frontend/src/api/actions.ts
  frontend/src/api/constants.ts
  frontend/src/api/index.ts
  frontend/src/api/sagas.ts
  frontend/src/components/App.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/state/auth/actions.ts
  frontend/src/state/auth/sagas.ts
  frontend/yarn.lock
Labels: back-end, feature, front-end

#132 Adjust Notification component
  frontend/src/components/notifications/Notification.tsx
Labels: adjustment, front-end

#133 Delete group sets when deleted from Canvas
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
Labels: back-end, bugfix

#130 CI deployment on beta branch
  .gitlab-ci.yml
  backend/build.gradle
  backend/prod_configurator.sh
Labels: tooling

#139 Added single group fetch endpoint
  backend/src/main/kotlin/nl/utwente/horus/controllers/group/GroupController.kt
Labels: back-end, feature

#137 Add backend search and fetch functionalities for use during sign off
  backend/README.md
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentSignOffResultRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/SignOffResultDtoCompact.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/group/GroupDtoSearch.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/signoff/GroupAssignmentSetSearchResultDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
  backend/src/main/resources/application-develop.properties
  backend/src/main/resources/db/migration/V1.2.0_1__full_text_search_indices.sql
  frontend/src/state/types.d.ts
Labels: back-end, feature

#141 Added endpoint for checking presence sign-off results (deletable)
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentSignOffResultRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/NotFoundExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/BooleanResultDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/canvas/CanvasTokenCheckResultDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
Labels: back-end, feature

#143 Endpoints for deleting assignment (sets)
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentSignOffResultRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/comment/CommentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
Labels: back-end, feature

#144 Switch from Canvas IDs to internal IDs in Canvas-related API calls
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  frontend/src/state/canvas-settings/sagas.ts
  frontend/src/state/types.d.ts
Labels: adjustment, back-end

#146 Allow for requesting comment threads in batches
  backend/src/main/kotlin/nl/utwente/horus/controllers/comment/CommentThreadController.kt
Labels: adjustment, back-end

#94 Finish assignment manager (except delete)
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  frontend/package.json
  frontend/src/components/App.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetCreatorModal.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetEditorModal.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetListEntry.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetManager.tsx
  frontend/src/components/pages/assignments/assignmentSetManager/AssignmentSetListEntry.tsx
  frontend/src/state/assignments/actions.ts
  frontend/src/state/assignments/constants.ts
  frontend/src/state/assignments/reducer.ts
  frontend/src/state/assignments/sagas.ts
  frontend/src/state/assignments/selectors.ts
  frontend/src/state/assignments/types.ts
  frontend/src/state/auth/sagas.ts
  frontend/src/state/course-selection/constants.ts
  frontend/src/state/course-selection/reducer.ts
  frontend/src/state/course-selection/sagas.ts
  frontend/src/state/course-selection/selectors.ts
  frontend/src/state/course-selection/types.ts
  frontend/src/staticmodules.d.ts
  frontend/src/styling/general.scss
  frontend/src/styling/index.scss
  frontend/src/test.html
  frontend/yarn.lock
Labels: feature, front-end

#148 Remove duplicate dependency
  frontend/package.json
Labels: bugfix, front-end

#138 Fix lint errors; add lint rules
  frontend/package.json
  frontend/src/components/CanvasCard.tsx
  frontend/src/components/RouteExtension.tsx
  frontend/src/components/notifications/Notification.tsx
  frontend/src/components/notifications/NotificationList.tsx
  frontend/src/components/pages/admin/groups/groups/GroupListItem.tsx
  frontend/src/components/pages/canvas-settings/CanvasCourseImport.tsx
  frontend/src/components/pages/canvas-settings/CanvasTokenForm.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/components/pages/navigationBar/NavigationBar.tsx
  frontend/src/components/sidebar/Sidebar.tsx
  frontend/src/index.tsx
  frontend/tslint.json
Labels: adjustment, configuration, front-end, tooling

#150 Comment endpoints for specific entities
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/group/GroupController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/participant/ParticipantController.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
Labels: back-end, feature

#153 Add improvements to search
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
Labels: adjustment, back-end

#140 Groupset UI and canvas group(sets) refresh
  frontend/src/components/App.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupListItem.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/state/canvas-settings/actions.ts
  frontend/src/state/canvas-settings/constants.ts
  frontend/src/state/canvas-settings/sagas.ts
  frontend/src/state/groups/reducer.ts
  frontend/yarn.lock
Labels: adjustment, feature, front-end

#154 Add comments (thread) delete endpoints
  backend/src/main/kotlin/nl/utwente/horus/controllers/comment/CommentController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/comment/CommentThreadController.kt
  backend/src/main/kotlin/nl/utwente/horus/services/comment/CommentService.kt
Labels: back-end, feature

#161 Implementation of sign-off endpoints
  backend/src/main/kotlin/nl/utwente/horus/controllers/SignOffResultController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/signoff/SignOffResultController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentSetRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/SignOffResult.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/SignOffResultRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/ParticipantRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/NotFoundExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/SignOffResultDtoCompact.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
  frontend/src/state/types.d.ts
Labels: back-end, feature

#85 Permissions
  backend/src/main/kotlin/nl/utwente/horus/DatabasePopulator.kt
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/handlers/AccessTokenRequestSuccessHandler.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/handlers/LoginSuccessHandler.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/permissions/HorusAuthority.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/permissions/HorusPermission.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/permissions/HorusPermissionType.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/permissions/HorusResource.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/permissions/HorusResourceScope.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/JWTAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentSetRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/person/Person.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/ForbiddenExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/auth/AuthTokenResponse.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/auth/HorusAuthority.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/auth/HorusAuthorityDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/auth/HorusPermissionDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/person/PersonDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/HorusUserDetailService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/HorusUserDetails.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/resources/db/migration/V1.2.0_2__permissions.sql
  backend/src/main/resources/db/mockdata/1a_roles.sql
  frontend/src/api/actions.ts
  frontend/src/api/index.ts
  frontend/src/api/permissions.ts
  frontend/src/api/sagas.ts
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetListEntry.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetManager.tsx
  frontend/src/components/pages/navigationBar/NavigationBar.tsx
  frontend/src/state/auth/actions.ts
  frontend/src/state/auth/constants.ts
  frontend/src/state/auth/reducer.ts
  frontend/src/state/auth/sagas.ts
  frontend/src/state/auth/selectors.ts
  frontend/src/state/auth/types.ts
  frontend/src/state/types.d.ts
Labels: back-end, feature, front-end

#126 Comments
  frontend/src/components/comments/Comment.tsx
  frontend/src/components/comments/CommentCreatorModal.tsx
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/comments/CommentThreadCreatorModal.tsx
  frontend/src/components/comments/CommentUpdateModal.tsx
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/navigationBar/NavigationBar.tsx
  frontend/src/components/pages/navigationBar/NavigationBarItem.tsx
  frontend/src/components/sidebar/Sidebar.tsx
  frontend/src/components/util.ts
  frontend/src/state/comments/action.ts
  frontend/src/state/comments/constants.ts
  frontend/src/state/comments/reducer.ts
  frontend/src/state/comments/sagas.ts
  frontend/src/state/comments/selectors.ts
  frontend/src/state/comments/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/sagas.ts
  frontend/src/state/state.ts
  frontend/src/styling/index.scss
Labels: feature, front-end

#149 Implement signoff search priority ranking
  frontend/src/components/App.tsx
  frontend/src/components/pages/navigationBar/NavigationBar.tsx
  frontend/src/components/pages/signoff/SignOffSearch.tsx
  frontend/src/routes.ts
  frontend/src/state/search/reducer.ts
  frontend/src/state/search/sagas.ts
  frontend/src/state/search/types.ts
  frontend/src/styling/index.scss
Labels: feature, front-end

#166 Login UI
  frontend/src/components/pages/login/Login.tsx
  frontend/src/styling/index.scss
Labels: adjustment, front-end

#167 Filter and order groups and assignment sets
  backend/src/main/kotlin/nl/utwente/horus/controllers/group/GroupSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/course/Course.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupSet.kt
Labels: adjustment, back-end

#156 Implement group search/filter functionality
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
Labels: feature, front-end

#169 Minor comment and navigationbar UI fix
  frontend/src/components/App.tsx
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/navigationBar/NavigationBar.tsx
  frontend/src/components/navigationBar/NavigationBarItem.tsx
Labels: adjustment, bugfix, front-end

#179 Fix dashboard button in NavBar
  frontend/src/components/navigationBar/NavigationBar.tsx
Labels: bugfix, front-end

#190 Refactor undefined usages to null wherever possible
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/navigationBar/NavigationBar.tsx
  frontend/src/components/notifications/Notification.tsx
  frontend/src/components/notifications/NotificationList.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetEditorModal.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/canvas-settings/CanvasCourseImport.tsx
  frontend/src/components/pages/canvas-settings/CanvasTokenForm.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/components/pages/sign-off/TableEntry.tsx
  frontend/src/components/pages/sign-off/TableHeading.tsx
  frontend/src/state/assignments/selectors.ts
  frontend/src/state/auth/selectors.ts
  frontend/src/state/canvas-settings/actions.ts
  frontend/src/state/canvas-settings/reducer.ts
  frontend/src/state/canvas-settings/sagas.ts
  frontend/src/state/canvas-settings/selectors.ts
  frontend/src/state/canvas-settings/types.ts
  frontend/src/state/comments/action.ts
  frontend/src/state/comments/reducer.ts
  frontend/src/state/comments/sagas.ts
  frontend/src/state/comments/selectors.ts
  frontend/src/state/comments/types.ts
  frontend/src/state/course-selection/action.ts
  frontend/src/state/course-selection/constants.ts
  frontend/src/state/course-selection/reducer.ts
  frontend/src/state/course-selection/selectors.ts
  frontend/src/state/course-selection/types.ts
  frontend/src/state/groups/selectors.ts
  frontend/src/state/navigationBar/selectors.ts
  frontend/src/state/notifications/selectors.ts
  frontend/src/state/search/action.ts
  frontend/src/state/search/reducer.ts
  frontend/src/state/search/selectors.ts
  frontend/src/state/search/types.ts
  frontend/src/state/sign-off/constants.ts
  frontend/src/state/sign-off/reducer.ts
  frontend/src/state/sign-off/sagas.ts
  frontend/src/state/sign-off/selectors.ts
  frontend/src/state/sign-off/types.ts
  frontend/src/store.ts
Labels: adjustment, bugfix, front-end

#194 Tweaks to assignments delete endpoints
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/SignOffResultRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
  backend/src/test/kotlin/nl/utwente/horus/services/SignOffServiceTest.kt
Labels: adjustment, back-end

#197 Canvas nullability fix and speedups
  backend/src/main/kotlin/nl/utwente/horus/representations/canvas/CanvasCourseDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  frontend/src/state/types.d.ts
Labels: back-end, bugfix

#199 Fixed the issue with the assignmentset editor not opening
  frontend/src/state/assignments/selectors.ts
Labels: bugfix, front-end

#195 UI overhaul, consistify, refactoring, mobile/desktop compatibility
  frontend/src/components/App.tsx
  frontend/src/components/CanvasCard.tsx
  frontend/src/components/DesktopComponent.tsx
  frontend/src/components/PhoneComponent.tsx
  frontend/src/components/SidebarPhone.tsx
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/navigationBar/NavigationBar.tsx
  frontend/src/components/pagebuilder.tsx
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetListEntry.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetManager.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupListItem.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/canvas-settings/CanvasCourseImport.tsx
  frontend/src/components/pages/canvas-settings/CanvasTokenForm.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/components/sidebar/Sidebar.tsx
  frontend/src/state/reducer.ts
  frontend/src/state/sidebar/actions.ts
  frontend/src/state/sidebar/constants.ts
  frontend/src/state/sidebar/reducer.ts
  frontend/src/state/sidebar/selectors.ts
  frontend/src/state/sidebar/types.ts
  frontend/src/state/state.ts
  frontend/src/styling/general.scss
  frontend/src/styling/index.scss
Labels: adjustment, bugfix, feature, front-end

#200 Undo triple equals comparison on null/undefined refactor
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/notifications/NotificationList.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetManager.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/canvas-settings/CanvasCourseImport.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/state/assignments/selectors.ts
  frontend/src/state/auth/selectors.ts
  frontend/src/state/canvas-settings/selectors.ts
  frontend/src/state/comments/reducer.ts
  frontend/src/state/comments/selectors.ts
  frontend/src/state/course-selection/reducer.ts
  frontend/src/state/course-selection/selectors.ts
  frontend/src/state/groups/selectors.ts
  frontend/src/state/navigationBar/selectors.ts
  frontend/src/state/notifications/selectors.ts
Labels: bugfix, front-end

#198 Signoff integration and improvements
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/SignOffResult.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/SignOffResultRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
  frontend/package.json
  frontend/prettier.config.js
  frontend/src/api/actions.ts
  frontend/src/api/constants.ts
  frontend/src/api/index.ts
  frontend/src/api/permissions.ts
  frontend/src/api/sagas.ts
  frontend/src/api/util.ts
  frontend/src/components/App.tsx
  frontend/src/components/pages/sign-off/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off/CommentModal.tsx
  frontend/src/components/pages/sign-off/GroupTableCell.tsx
  frontend/src/components/pages/sign-off/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/components/pages/sign-off/TableEntry.tsx
  frontend/src/components/pages/sign-off/TableHeading.tsx
  frontend/src/routes.ts
  frontend/src/state/search/action.ts
  frontend/src/state/search/constants.ts
  frontend/src/state/search/reducer.ts
  frontend/src/state/search/sagas.ts
  frontend/src/state/search/selectors.ts
  frontend/src/state/search/types.ts
  frontend/src/state/sign-off/actions.ts
  frontend/src/state/sign-off/constants.ts
  frontend/src/state/sign-off/reducer.ts
  frontend/src/state/sign-off/sagas.ts
  frontend/src/state/sign-off/selectors.ts
  frontend/src/state/sign-off/types.ts
  frontend/src/styling/index.scss
  frontend/tslint.json
  frontend/yarn.lock
Labels: adjustment, back-end, bugfix, feature, front-end

#202 Assignment delete
  frontend/package.json
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetEditorModal.tsx
  frontend/src/state/assignments/actions.ts
  frontend/src/state/assignments/constants.ts
  frontend/src/state/assignments/reducer.ts
  frontend/src/state/assignments/sagas.ts
  frontend/src/state/assignments/selectors.ts
  frontend/src/state/assignments/types.ts
  frontend/yarn.lock
Labels: feature, front-end

#207 Types refactor
  frontend/src/api/actions.ts
  frontend/src/api/permissions.ts
  frontend/src/api/types.d.ts
  frontend/src/components/comments/Comment.tsx
  frontend/src/components/comments/CommentCreatorModal.tsx
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/comments/CommentThreadCreatorModal.tsx
  frontend/src/components/comments/CommentUpdateModal.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetCreatorModal.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetEditorModal.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetListEntry.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetManager.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupListItem.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/canvas-settings/CanvasCourseImport.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/components/pages/sign-off/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off/GroupTableCell.tsx
  frontend/src/components/pages/sign-off/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/state/assignments/actions.ts
  frontend/src/state/assignments/reducer.ts
  frontend/src/state/assignments/sagas.ts
  frontend/src/state/assignments/types.ts
  frontend/src/state/auth/actions.ts
  frontend/src/state/canvas-settings/actions.ts
  frontend/src/state/canvas-settings/sagas.ts
  frontend/src/state/canvas-settings/types.ts
  frontend/src/state/comments/action.ts
  frontend/src/state/comments/reducer.ts
  frontend/src/state/comments/sagas.ts
  frontend/src/state/comments/types.ts
  frontend/src/state/course-selection/action.ts
  frontend/src/state/course-selection/reducer.ts
  frontend/src/state/course-selection/sagas.ts
  frontend/src/state/course-selection/selectors.ts
  frontend/src/state/course-selection/types.ts
  frontend/src/state/groups/actions.ts
  frontend/src/state/groups/sagas.ts
  frontend/src/state/groups/types.ts
  frontend/src/state/search/action.ts
  frontend/src/state/search/reducer.ts
  frontend/src/state/search/sagas.ts
  frontend/src/state/search/types.ts
  frontend/src/state/sign-off/actions.ts
  frontend/src/state/sign-off/sagas.ts
  frontend/src/state/sign-off/types.ts
  frontend/tslint.json
Labels: adjustment, front-end

#208 Clear table state on empty parameters
  frontend/src/components/pages/sign-off/SignoffTable.tsx
Labels: bugfix, front-end

#212 Change endpoints for comments (regarding DTO's)
  backend/src/main/kotlin/nl/utwente/horus/controllers/comment/CommentController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/comment/CommentThread.kt
  backend/src/main/kotlin/nl/utwente/horus/services/comment/CommentService.kt
Labels: adjustment, back-end

#213 Comment thread state management
  frontend/src/components/comments/Comment.tsx
  frontend/src/components/comments/CommentCreatorModal.tsx
  frontend/src/components/comments/CommentDeleteModal.tsx
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/comments/CommentThreadCreatorModal.tsx
  frontend/src/components/comments/CommentUpdateModal.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/state/comments/action.ts
  frontend/src/state/comments/constants.ts
  frontend/src/state/comments/reducer.ts
  frontend/src/state/comments/sagas.ts
  frontend/src/state/comments/selectors.ts
  frontend/src/state/comments/types.ts
Labels: adjustment, bugfix, feature, front-end

#211 Supplementary roles in back-end
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/ParticipantSupplementaryRoleMapping.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/ParticipantSupplementaryRoleMappingRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/Permission.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/PermissionRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/SupplementaryRole.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/SupplementaryRolePermission.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/SupplementaryRolePermissionRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/SupplementaryRoleRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/Participant.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/person/Person.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/NotFoundExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/SupplementaryRoleService.kt
  backend/src/main/resources/db/migration/V1.4.0_1__supplementary_roles.sql
  backend/src/test/kotlin/nl/utwente/horus/services/RoleServiceTest.kt
Labels: back-end, feature

#210 Fix dashboard cards redirect
  frontend/src/components/DesktopComponent.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/styling/index.scss
Labels: bugfix, front-end

#216 Added comment ID field in brief assignment class (at cost of full field in summary)
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentDtoBrief.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentDtoSummary.kt
  frontend/src/api/types.d.ts
Labels: adjustment, back-end

#218 Endpoints for creating/fetching comments for SignOffResults
  backend/src/main/kotlin/nl/utwente/horus/controllers/signoff/SignOffResultController.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
Labels: back-end, feature

#217 Fix concurrent modification deletions
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
Labels: back-end, bugfix

#219 Sign off comment integration
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
  frontend/src/components/pages/sign-off/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off/GroupTableCell.tsx
  frontend/src/components/pages/sign-off/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/state/comments/sagas.ts
  frontend/src/styling/index.scss
Labels: bugfix, feature, front-end

#220 Comments state bugfix
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/pages/sign-off/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off/GroupTableCell.tsx
  frontend/src/components/pages/sign-off/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
Labels: bugfix, front-end

#214 Sign Off Overview
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/group/GroupSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/participant/ParticipantController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/Group.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentDtoSummary.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentSetDtoSummary.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/SignOffResultDtoSummary.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/group/GroupDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/group/GroupDtoSummary.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/group/GroupSetDtoSummary.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/participant/ParticipantDtoBrief.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/participant/ParticipantDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/person/PersonDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  frontend/src/api/spring-types.d.ts
  frontend/src/api/types.d.ts
  frontend/src/components/App.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
  frontend/src/routes.ts
  frontend/src/state/overview/actions.ts
  frontend/src/state/overview/constants.ts
  frontend/src/state/overview/reducer.ts
  frontend/src/state/overview/saga.ts
  frontend/src/state/overview/selectors.ts
  frontend/src/state/overview/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/sagas.ts
  frontend/src/state/sign-off/constants.ts
  frontend/src/state/state.ts
  frontend/src/styling/index.scss
  frontend/yarn.lock
Labels: back-end, feature, front-end

#221 (SMALL) Fixed bug in token import and state issues in canvas course retrieval
  frontend/src/components/pages/canvas-settings/CanvasTokenForm.tsx
  frontend/src/state/canvas-settings/reducer.ts
Labels: bugfix, front-end

#224 (SMALL) Undo change of card URL in Dashboard
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
Labels: adjustment, front-end

#222 Permissions base class and course/assignments endpoint secured
  backend/src/main/kotlin/nl/utwente/horus/controllers/BaseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
Labels: back-end, feature

#225 Fix overview URL
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
Labels: bugfix, front-end

#226 Add history endpoint for sign-offs.
  backend/src/main/kotlin/nl/utwente/horus/controllers/signoff/SignOffResultController.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
Labels: back-end, feature

#228 Fix signer in sign off result summary and add sorting
  backend/src/main/kotlin/nl/utwente/horus/controllers/signoff/SignOffResultController.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/SignOffResultDtoSummary.kt
Labels: back-end, bugfix

#230 (SMALL) Fix editor groupset UI glitch; add hover effects for add-assignment-set button
  frontend/src/styling/index.scss
Labels: bugfix, front-end

#209 Create tests for most functions of CourseService
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/test/kotlin/nl/utwente/horus/services/CourseServiceTest.kt
Labels: back-end, testing

#231 Add sortable name to Person
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/SAML2SSOAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/person/Person.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/person/PersonService.kt
  backend/src/main/resources/db/migration/V1.4.1_1__sortable_name.sql
Labels: back-end, feature

#233 Add participants get endpoint and fix failing test for Course
  backend/src/main/kotlin/nl/utwente/horus/controllers/participant/ParticipantController.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/test/kotlin/nl/utwente/horus/services/CourseServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/ParticipantServiceTest.kt
Labels: back-end, bugfix, feature

#232 (LARGE) Minor general improvements (needs testing)
  frontend/src/components/comments/CommentCreatorModal.tsx
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/comments/CommentThreadCreatorModal.tsx
  frontend/src/components/comments/CommentUpdateModal.tsx
  frontend/src/components/pages/admin/groups/groups/GroupListItem.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/state/comments/sagas.ts
  frontend/src/styling/index.scss
Labels: adjustment, bugfix, front-end

#235 Added student dashboard DTO/API call
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/SignOffResultRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/dashboard/StudentDashboardDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
  frontend/src/api/types.d.ts
Labels: back-end, feature

#236 Change dashboard DTO to include signer info
  backend/src/main/kotlin/nl/utwente/horus/representations/dashboard/SignOffResultDtoStudent.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/dashboard/StudentDashboardDto.kt
  frontend/src/api/types.d.ts
Labels: adjustment, back-end

#237 Add HTTP/2 to server
  backend/src/main/resources/application.properties
Labels: adjustment, back-end

#223 Create tests for AssignmentService class
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/test/kotlin/nl/utwente/horus/HorusAbstractTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/AssignmentServiceTest.kt
Labels: back-end, testing

#239 Add manual double click detection (iOS lacks ondblclick on Safari/Chrome)
  frontend/src/components/pages/sign-off/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
Labels: bugfix, front-end

#240 Fix assignment cell selection on double tap
  frontend/src/styling/index.scss
Labels: bugfix, front-end

#242 Fix UT expired SAML authentication issues
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/SAML2SSOAuthenticationResponseAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/saml/SAML2ClientHolder.kt
Labels: back-end, bugfix

#229 Sign off history
  backend/src/main/kotlin/nl/utwente/horus/controllers/signoff/SignOffResultController.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/SignOffResultDtoSummary.kt
  frontend/package.json
  frontend/src/api/types.d.ts
  frontend/src/components/pages/sign-off/SignOffDetails.tsx
  frontend/src/components/pages/sign-off/SignOffHistoryModal.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
  frontend/src/state/sign-off/actions.ts
  frontend/src/state/sign-off/constants.ts
  frontend/src/state/sign-off/reducer.ts
  frontend/src/state/sign-off/sagas.ts
  frontend/src/state/sign-off/selectors.ts
  frontend/src/state/sign-off/types.ts
  frontend/yarn.lock
Labels: feature, front-end

#245 Overview sidebar
  frontend/src/components/pages/sign-off-overview/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off-overview/GroupTableCell.tsx
  frontend/src/components/pages/sign-off-overview/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off-overview/SignoffResultTableCell.tsx
  frontend/src/styling/index.scss
Labels: feature, front-end

#241 Spreadsheet exporting functionality
  backend/build.gradle
  backend/src/main/kotlin/nl/utwente/horus/controllers/BaseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/SignOffResultRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/ParticipantRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/sheets/ExportService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
Labels: back-end, feature

#234 UI labels manager
  frontend/src/components/App.tsx
  frontend/src/components/DesktopComponent.tsx
  frontend/src/components/Label.tsx
  frontend/src/components/PhoneComponent.tsx
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/admin/labels/LabelCreateModal.tsx
  frontend/src/components/pages/admin/labels/LabelDeleteModal.tsx
  frontend/src/components/pages/admin/labels/LabelEditModal.tsx
  frontend/src/components/pages/admin/labels/LabelManager.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/routes.ts
  frontend/src/state/courses/action.ts
  frontend/src/state/courses/constants.ts
  frontend/src/state/courses/reducer.ts
  frontend/src/state/courses/sagas.ts
  frontend/src/state/courses/selectors.ts
  frontend/src/state/courses/types.ts
  frontend/src/state/labels/action.ts
  frontend/src/state/labels/constants.ts
  frontend/src/state/labels/reducer.ts
  frontend/src/state/labels/sagas.ts
  frontend/src/state/labels/selectors.ts
  frontend/src/state/labels/types.ts
  frontend/src/state/participants/actions.ts
  frontend/src/state/participants/constants.ts
  frontend/src/state/participants/reducer.ts
  frontend/src/state/participants/sagas.ts
  frontend/src/state/participants/selectors.ts
  frontend/src/state/participants/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/sagas.ts
  frontend/src/state/state.ts
  frontend/src/styling/index.scss
Labels: feature, front-end

#248 Change accepted last authentication lifetime to 24 hours
  backend/src/main/kotlin/nl/utwente/horus/auth/saml/SAML2ClientHolder.kt
Labels: adjustment, back-end

#250 Login failure notification, logout, and miscellaneous auth fixes
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/SAML2SSOAuthenticationResponseAuthenticationFilter.kt
  backend/src/main/resources/application-develop.properties
  backend/src/main/resources/application-production.properties
  frontend/src/api/constants.ts
  frontend/src/api/sagas.ts
  frontend/src/api/util.ts
  frontend/src/components/App.tsx
  frontend/src/components/navigationBar/NavigationBar.tsx
  frontend/src/components/navigationBar/NavigationBarItem.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/state/auth/actions.ts
  frontend/src/state/auth/reducer.ts
  frontend/src/state/auth/sagas.ts
  frontend/src/state/auth/selectors.ts
  frontend/src/state/auth/types.ts
  frontend/src/state/notifications/actions.ts
  frontend/src/state/notifications/constants.ts
  frontend/src/state/notifications/reducers.ts
Labels: adjustment, back-end, bugfix, front-end

#249 Security for API endpoints
  backend/src/main/kotlin/nl/utwente/horus/controllers/BaseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/comment/CommentController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/comment/CommentThreadController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/group/GroupController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/group/GroupSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/participant/ParticipantController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/signoff/SignOffResultController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/course/CourseRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupSetRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/participant/ParticipantDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
Labels: adjustment, back-end

#247 Assignment groups
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/Assignment.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentCreateUpdateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentDtoBrief.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/resources/db/migration/V1.5.0_1__assignment_split.sql
  backend/src/test/kotlin/nl/utwente/horus/services/AssignmentServiceTest.kt
  frontend/src/api/types.d.ts
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetEditorModal.tsx
  frontend/src/components/pages/sign-off-overview/ProgressTableCell.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/state/assignments/types.ts
  frontend/src/styling/index.scss
Labels: feature, front-end

#251 Allow tokens in URL parameters
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/JWTAuthenticationFilter.kt
Labels: adjustment, back-end, feature

#252 Fix filename downloads
  backend/src/main/kotlin/nl/utwente/horus/controllers/BaseController.kt
Labels: back-end, bugfix

#246 Student view
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/course-dashboard/CourseStudentDashboard.tsx
  frontend/src/components/pages/course-dashboard/CourseTATeacherDashboard.tsx
  frontend/src/state/reducer.ts
  frontend/src/state/sagas.ts
  frontend/src/state/state.ts
  frontend/src/state/student-dashboard/actions.ts
  frontend/src/state/student-dashboard/constants.ts
  frontend/src/state/student-dashboard/reducer.ts
  frontend/src/state/student-dashboard/sagas.ts
  frontend/src/state/student-dashboard/selectors.ts
  frontend/src/state/student-dashboard/types.ts
Labels: feature, front-end

#253 Export button
  frontend/src/api/index.ts
  frontend/src/api/sagas.ts
  frontend/src/components/pages/admin/CourseAdministration.tsx
Labels: feature, front-end

#238 Implement permissions in front-end
  frontend/.gitignore
  frontend/src/components/CanvasCard.tsx
  frontend/src/components/comments/Comment.tsx
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/navigationBar/NavigationBar.tsx
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetEditorModal.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetListEntry.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetManager.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupListItem.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/admin/labels/LabelManager.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off/GroupTableCell.tsx
  frontend/src/components/pages/sign-off/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/state/auth/constants.ts
  frontend/src/styling/index.scss
Labels: adjustment, feature, front-end

#254 Student view polish
  frontend/src/components/pages/course-dashboard/CourseStudentDashboard.tsx
  frontend/src/state/student-dashboard/actions.ts
  frontend/src/state/student-dashboard/reducer.ts
  frontend/src/state/student-dashboard/sagas.ts
  frontend/src/state/student-dashboard/selectors.ts
  frontend/src/state/student-dashboard/types.ts
Labels: adjustment, bugfix, front-end

#257 Make the insufficient comment pop-up clearer
  frontend/src/components/pages/sign-off/CommentModal.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
Labels: feature, front-end

#260 Bugfix: Sign-off layout
  frontend/package.json
  frontend/src/components/PhoneComponent.tsx
  frontend/src/components/pagebuilder.tsx
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/staticmodules.d.ts
  frontend/src/styling/index.scss
  frontend/yarn.lock
Labels: adjustment, bugfix, front-end

#256 Bugfix: navigation bar and sidebar issues
  frontend/package.json
  frontend/src/components/CanvasCard.tsx
  frontend/src/components/DesktopComponent.tsx
  frontend/src/components/PhoneComponent.tsx
  frontend/src/components/SidebarPhone.tsx
  frontend/src/components/navigationBar/NavigationBar.tsx
  frontend/src/components/pages/admin/groups/groups/GroupListItem.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/state/reducer.ts
  frontend/src/state/sidebar/actions.ts
  frontend/src/state/sidebar/constants.ts
  frontend/src/state/sidebar/reducer.ts
  frontend/src/state/sidebar/selectors.ts
  frontend/src/state/sidebar/types.ts
  frontend/src/state/state.ts
  frontend/src/styling/index.scss
Labels: bugfix, front-end

#261 Improve intuitiveness of search bar
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
Labels: feature, front-end

#255 Bugfix: Assignment editor delete modal rework
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetEditorModal.tsx
Labels: adjustment, bugfix, front-end

#259 UI supplementary roles (and minor misc bug fixes)
  backend/src/main/kotlin/nl/utwente/horus/DatabasePopulator.kt
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/permissions/HorusResource.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/BaseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/participant/RoleController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/ParticipantSupplementaryRoleMappingRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/SupplementaryRoleRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/ParticipantRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/auth/SupplementaryRoleCreateUpdateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/auth/SupplementaryRoleDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/participant/ParticipantSupplementaryRoleMappingDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/SupplementaryRoleService.kt
  backend/src/main/resources/db/migration/V1.5.1_1__roles_seeding.sql
  backend/src/test/kotlin/nl/utwente/horus/services/RoleServiceTest.kt
  frontend/src/api/types.d.ts
  frontend/src/components/App.tsx
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/labels/LabelManager.tsx
  frontend/src/components/pages/admin/supplementaryroles/RolesManager.tsx
  frontend/src/components/pages/admin/supplementaryroles/SuppRoleLabel.tsx
  frontend/src/components/pages/course-dashboard/CourseStudentDashboard.tsx
  frontend/src/routes.ts
  frontend/src/state/participants/actions.ts
  frontend/src/state/participants/constants.ts
  frontend/src/state/participants/reducer.ts
  frontend/src/state/participants/sagas.ts
  frontend/src/state/participants/selectors.ts
  frontend/src/state/participants/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/roles/action.ts
  frontend/src/state/roles/constants.ts
  frontend/src/state/roles/reducer.ts
  frontend/src/state/roles/sagas.ts
  frontend/src/state/roles/selectors.ts
  frontend/src/state/roles/types.ts
  frontend/src/state/sagas.ts
  frontend/src/state/state.ts
  frontend/src/styling/index.scss
Labels: feature, front-end

#263 Remove public host from package.json
  frontend/package.json
Labels: bugfix, front-end

#262 Add history fields in summary sign-off DTO
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/SignOffResultDtoSummary.kt
  frontend/src/api/types.d.ts
Labels: adjustment, back-end

#265 Fix sign-off search parameter mismatch
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
Labels: bugfix, front-end

#269 Add group filtering endpoint
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupFiltrationSpecification.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
Labels: back-end, feature

#267 Labels sidebar
  frontend/src/components/pages/admin/labels/LabelAddDropdown.tsx
  frontend/src/components/pages/admin/labels/LabelManager.tsx
  frontend/src/components/pages/admin/labels/ParticipantLabelInfo.tsx
  frontend/src/components/pages/sign-off-overview/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off-overview/SignoffResultTableCell.tsx
  frontend/src/components/pages/sign-off/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/state/participants/sagas.ts
Labels: feature, front-end

#275 Implement hide-url-bar functionality
  frontend/src/index.html
  frontend/src/test.html
Labels: feature, front-end

#264 Secure spreadsheet export endpoints
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
Labels: adjustment, back-end

#270 Group sign-off search results by assignment set
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/state/search/reducer.ts
  frontend/src/state/search/types.ts
  frontend/src/styling/index.scss
Labels: adjustment, feature, front-end

#272 Make improvements to label manager
  frontend/src/components/pages/admin/labels/LabelCreateModal.tsx
  frontend/src/components/pages/admin/labels/LabelEditModal.tsx
Labels: bugfix, feature, front-end

#274 Redesign landing page and add About page
  frontend/src/components/pages/login/Login.tsx
  frontend/src/images/horus_group_picture_compressed.jpg
  frontend/src/staticmodules.d.ts
  frontend/src/styling/index.scss
Labels: feature, front-end

#271 Make the distinction between assignment and sign-off comments clearer
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/pages/sign-off/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
Labels: feature, front-end

#276 Fix re-archiving archived signoffs
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
Labels: back-end, bugfix

#273 Overview filters
  frontend/src/components/Label.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverviewSearch.tsx
  frontend/src/components/util.ts
  frontend/src/state/overview/actions.ts
  frontend/src/state/overview/constants.ts
  frontend/src/state/overview/reducer.ts
  frontend/src/state/overview/saga.ts
  frontend/src/state/overview/types.ts
  frontend/src/state/search/reducer.ts
Labels: feature, front-end

#278 Add colons to label headers in sidebar
  frontend/src/components/pages/sign-off-overview/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off-overview/SignoffResultTableCell.tsx
  frontend/src/components/pages/sign-off/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
Labels: bugfix, front-end

#279 Fix redirect after directly going to login
  frontend/src/components/App.tsx
Labels: bugfix, front-end

#277 Bugfix comment state update
  frontend/src/components/pages/sign-off-overview/GroupTableCell.tsx
  frontend/src/components/pages/sign-off/GroupTableCell.tsx
  frontend/src/state/assignments/reducer.ts
  frontend/src/state/groups/reducer.ts
  frontend/src/state/overview/reducer.ts
  frontend/src/state/sign-off/reducer.ts
Labels: bugfix, front-end

#280 Fix group sets reloading in filters
  frontend/src/components/pages/sign-off-overview/SignOffOverviewSearch.tsx
Labels: bugfix, front-end

#283 Fix auto scroll in student dashboard
  frontend/src/components/pages/course-dashboard/CourseStudentDashboard.tsx
Labels: bugfix, front-end

#282 Misc improvements
  frontend/src/components/PhoneComponent.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/course-dashboard/CourseTATeacherDashboard.tsx
  frontend/src/index.html
  frontend/src/styling/index.scss
Labels: adjustment, bugfix, front-end

#286 Add Prometheus/actuator endpoints
  backend/build.gradle
  backend/src/main/resources/application.properties
Labels: back-end, tooling

#285 Disable external login on production
  backend/src/main/kotlin/nl/utwente/horus/Extensions.kt
  backend/src/main/kotlin/nl/utwente/horus/configurations/HorusWebSecurityConfiguration.kt
Labels: back-end, feature

#284 Fix groups manager UI and fix ordering of groups
  frontend/src/components/pages/admin/groups/groups/GroupListItem.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
Labels: adjustment, bugfix, front-end

#287 Fix requiring HTTPS for actuator endpoints
  backend/src/main/kotlin/nl/utwente/horus/configurations/SSLConfiguration.kt
  backend/src/main/resources/application.properties
Labels: back-end, bugfix
