Repository VriesDeRick/horus, pull requests merged in 2019-11, with the labels that each got.

#471 Allow for empty groups in CSV group definitions
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/sheets/ImportService.kt
Labels: back-end, feature

#478 Reverse ellipsis on assignment cell
  frontend/src/components/pages/sign-off-overview/AssignmentTableCell.tsx
Labels: adjustment, front-end

#482 Labels csv split
  User Manual.pdf
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/participant/ParticipantController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/ParticipantLabelMappingRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/sheets/CSVUtil.kt
  backend/src/main/kotlin/nl/utwente/horus/services/sheets/GroupsImportService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/sheets/LabelsImportService.kt
  frontend/src/components/pages/admin/labels/LabelCsvUploadModal.tsx
  frontend/src/components/pages/admin/labels/LabelManager.tsx
  frontend/src/state/labels/action.ts
  frontend/src/state/labels/constants.ts
  frontend/src/state/labels/sagas.ts
  frontend/src/static/manual.pdf
Labels: back-end, feature, front-end

#484 Fix overflow issue with overview label dropdown
  frontend/src/components/pages/sign-off-overview/SignOffOverviewSearch.tsx
Labels: bugfix, front-end

#477 Feature: hide/unhide courses
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/PersonalCoursePreferencesController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/Participant.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/BooleanDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/BooleanResultDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/course/CourseDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/course/CourseDtoSummary.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/main/resources/db/migration/V1.8.0_1__hidden_courses.sql
  backend/src/test/kotlin/nl/utwente/horus/controllers/CourseControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/PersonalCoursePreferencesControllerTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/ParticipantServiceTest.kt
  frontend/src/api/types.d.ts
  frontend/src/components/App.tsx
  frontend/src/components/pages/course-selection/CourseOptions.tsx
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/routes.ts
  frontend/src/state/canvas-settings/sagas.ts
  frontend/src/state/courses/action.ts
  frontend/src/state/courses/constants.ts
  frontend/src/state/courses/reducer.ts
  frontend/src/state/courses/sagas.ts
Labels: back-end, feature, front-end
