Repository VriesDeRick/horus, pull requests merged in 2019-04, with the labels that each got.

#291 Remove word 'thread' from UI
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/comments/CommentThreadCreatorModal.tsx
  frontend/src/state/comments/sagas.ts
Labels: adjustment, front-end

#295 Fix hamburger flip animation when top bar is large...
  frontend/src/components/PhoneComponent.tsx
Labels: bugfix, front-end

#293 Overview additions
  frontend/src/components/pages/sign-off-overview/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off-overview/GroupTableCell.tsx
  frontend/src/components/pages/sign-off-overview/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off-overview/SignoffResultTableCell.tsx
  frontend/src/styling/index.scss
Labels: bugfix, front-end

#297 Hide keyboard on phones when selecting suggestion
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
Labels: bugfix, front-end

#299 Fix logout forcing and token erasure on non-auth refresh errors
  backend/src/main/resources/application-develop.properties
  frontend/src/api/sagas.ts
Labels: bugfix, front-end

#301 Fix minor issues
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/components/pages/queuing/QueueCreateModal.tsx
  frontend/src/components/pages/rooms/Rooms.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverviewSearch.tsx
Labels: adjustment, bugfix, front-end

#302 Back-end fixes to student dashboard and dequeuing
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/SignOffResultRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/Queue.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
Labels: back-end, bugfix

#305 Add separate QueueParticipantDto with addedAt time
  backend/src/main/kotlin/nl/utwente/horus/controllers/queuing/QueuingController.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/QueueParticipant.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/QueuingStateManager.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/Room.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/queuing/ParticipantDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/queuing/QueueParticipantDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/queuing/updates/AcceptDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/queuing/updates/EnqueueDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/queuing/QueuingService.kt
  frontend/src/api/types.d.ts
Labels: back-end, feature

#289 Refresh token staling, refresh token client binding, and logout endpoint
  backend/src/main/kotlin/nl/utwente/horus/HorusConfigurationProperties.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/AuthCodeLoginAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/Constants.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/JWTAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/LogoutFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/PasswordLoginAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/handlers/LoginSuccessHandler.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/AuthCodeTokenLoginAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/DummyPasswordLoginProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/JWTAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/AuthCodeToken.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/RawToken.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/TokenFactory.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/UsernamePasswordToken.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/util/HttpUtil.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/util/RandomStringUtil.kt
  backend/src/main/kotlin/nl/utwente/horus/configurations/HorusWebSecurityConfiguration.kt
  backend/src/main/kotlin/nl/utwente/horus/configurations/HorusWebSocketConfiguration.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/RefreshToken.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/RefreshTokenRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/RefreshTokenService.kt
  backend/src/main/resources/application-develop.properties
  backend/src/main/resources/application-production.properties
  backend/src/main/resources/db/migration/V1.6.0_1__refresh_tokens.sql
  backend/src/test/kotlin/nl/utwente/horus/WithLoginIdSecurityContextFactory.kt
  frontend/src/components/navigationBar/NavigationBar.tsx
Labels: back-end, feature

#298 CSV import and progress bars for Canvas tasks
  backend/build.gradle
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/AuthCodeLoginAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/JWTAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/PasswordLoginAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/handlers/LoginSuccessHandler.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/AuthCodeTokenLoginAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/DummyPasswordLoginProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/JWTAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/TokenFactory.kt
  backend/src/main/kotlin/nl/utwente/horus/configurations/HorusWebSocketConfiguration.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/BaseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/jobs/JobController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/RoleRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/LabelRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/ParticipantRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/NotFoundExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/job/BatchJobDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/RefreshTokenService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/RoleService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasReaderWriter.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/job/BatchJob.kt
  backend/src/main/kotlin/nl/utwente/horus/services/job/BatchJobExecutor.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/LabelService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/sheets/ImportService.kt
  backend/src/test/kotlin/nl/utwente/horus/WithLoginIdSecurityContextFactory.kt
  backend/src/test/kotlin/nl/utwente/horus/services/AssignmentServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/CourseServiceTest.kt
  frontend/src/api/sagas.ts
  frontend/src/api/types.d.ts
  frontend/src/api/util.ts
  frontend/src/components/App.tsx
  frontend/src/components/JobProgress.tsx
  frontend/src/components/navigationBar/NavigationBar.tsx
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/Jobs.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetImportModal.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/routes.ts
  frontend/src/state/canvas-settings/actions.ts
  frontend/src/state/canvas-settings/constants.ts
  frontend/src/state/canvas-settings/sagas.ts
  frontend/src/state/jobs/action.ts
  frontend/src/state/jobs/constants.ts
  frontend/src/state/jobs/reducer.ts
  frontend/src/state/jobs/sagas.ts
  frontend/src/state/jobs/selectors.ts
  frontend/src/state/jobs/types.ts
  frontend/src/state/navigationBar/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/sagas.ts
  frontend/src/state/state.ts
Labels: adjustment, back-end, feature, front-end

#307 Queuing feedback
  backend/src/main/kotlin/nl/utwente/horus/queuing/Room.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/queuing/QueueDto.kt
  frontend/src/api/types.d.ts
  frontend/src/components/pages/queuing/History.tsx
  frontend/src/components/pages/queuing/HistoryModal.tsx
  frontend/src/components/pages/queuing/PopupModal.tsx
  frontend/src/components/pages/queuing/ProjectorQueuingPage.tsx
  frontend/src/components/pages/queuing/Queue.tsx
  frontend/src/components/pages/queuing/QueueTimeBadge.tsx
  frontend/src/components/pages/queuing/QueuingPage.tsx
  frontend/src/components/pages/sign-off-overview/ProgressTableCell.tsx
  frontend/src/components/util.ts
  frontend/src/state/queuing/actions.ts
  frontend/src/state/queuing/reducer.ts
  frontend/src/state/queuing/selectors.ts
  frontend/src/state/queuing/types.ts
Labels: adjustment, bugfix, feature, front-end

#308 Fix history update bug
  frontend/src/components/pages/queuing/ProjectorQueuingPage.tsx
Labels: bugfix, front-end

#309 Implement permissions in roles manager
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/supplementaryroles/RolesManager.tsx
  frontend/src/state/auth/constants.ts
Labels: front-end

#310 Fix TA mode history update
  frontend/src/components/pages/queuing/QueuingPage.tsx
Labels: bugfix, front-end

#311 Rooms polish
  frontend/src/components/pages/course-dashboard/CourseStudentDashboard.tsx
  frontend/src/components/pages/queuing/ProjectorRoomPromptPage.tsx
  frontend/src/components/pages/rooms/Rooms.tsx
Labels: adjustment, bugfix, feature, front-end

#314 Adjust notifications
  frontend/src/components/navigationBar/NavigationBar.tsx
  frontend/src/components/navigationBar/NavigationBarItem.tsx
  frontend/src/components/notifications/Notification.tsx
  frontend/src/components/notifications/NotificationList.tsx
  frontend/src/components/pagebuilder.tsx
  frontend/src/components/pages/admin/Jobs.tsx
  frontend/src/components/util.ts
  frontend/src/state/canvas-settings/sagas.ts
  frontend/src/state/notifications/actions.ts
  frontend/src/state/notifications/constants.ts
  frontend/src/state/notifications/reducers.ts
  frontend/src/state/notifications/types.ts
  frontend/src/styling/index.scss
Labels: adjustment, front-end

#315 Disallow chosing assignment sets in search when not mapped
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/state/assignments/actions.ts
  frontend/src/state/search/sagas.ts
Labels: bugfix, front-end

#317 Comments doc and cleanup
  frontend/src/components/comments/Comment.tsx
  frontend/src/components/comments/CommentCreatorModal.tsx
  frontend/src/components/comments/CommentDeleteModal.tsx
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/comments/CommentThreadCreatorModal.tsx
  frontend/src/components/comments/CommentUpdateModal.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/sign-off-overview/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off-overview/GroupTableCell.tsx
  frontend/src/components/pages/sign-off-overview/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off-overview/SignoffResultTableCell.tsx
  frontend/src/components/pages/sign-off/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off/GroupTableCell.tsx
  frontend/src/components/pages/sign-off/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
  frontend/src/state/auth/constants.ts
  frontend/src/state/comments/action.ts
  frontend/src/state/comments/constants.ts
  frontend/src/state/comments/reducer.ts
  frontend/src/state/comments/sagas.ts
Labels: bugfix, documenting, front-end

#306 Test permissions
  backend/src/main/kotlin/nl/utwente/horus/controllers/signoff/SignOffResultController.kt
  backend/src/test/kotlin/nl/utwente/horus/HorusAbstractTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/AssignmentControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/AssignmentSetControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/CommentControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/CommentThreadControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/CourseControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/GroupControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/GroupSetControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/ParticipantControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/QueuingControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/RoleControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/SignOffResultControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/AssignmentServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/CourseServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/LabelServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/ParticipantServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/RoleServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/SignOffServiceTest.kt
Labels: back-end, testing

#313 Queuing polish
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/queuing/QueuingController.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/Queue.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/QueuingStateManager.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/Room.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/queuing/RoomQueueLengthsDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/queuing/QueuingService.kt
  frontend/src/api/types.d.ts
  frontend/src/components/pages/login/Login.tsx
  frontend/src/components/pages/queuing/Busyness.tsx
  frontend/src/components/pages/queuing/History.tsx
  frontend/src/components/pages/queuing/PopupModal.tsx
  frontend/src/components/pages/queuing/ProjectorQueuingPage.tsx
  frontend/src/components/pages/queuing/ProjectorRoomPromptPage.tsx
  frontend/src/components/pages/queuing/QueueTimeBadge.tsx
  frontend/src/components/pages/queuing/QueuingPage.tsx
  frontend/src/state/queuing/actions.ts
  frontend/src/state/queuing/constants.ts
  frontend/src/state/queuing/reducer.ts
  frontend/src/state/queuing/sagas.ts
  frontend/src/state/queuing/selectors.ts
  frontend/src/state/queuing/types.ts
Labels: adjustment, back-end, feature, front-end

#324 Add scheduled room closing at 4AM
  backend/src/main/kotlin/nl/utwente/horus/queuing/QueuingStateManager.kt
Labels: back-end, feature

#325 Add state cleaning on logout
  frontend/src/state/auth/sagas.ts
  frontend/src/state/reducer.ts
Labels: adjustment, front-end

#326 Add queuing notification fixes
  frontend/src/components/pages/queuing/ProjectorQueuingPage.tsx
  frontend/src/components/pages/queuing/QueuingPage.tsx
Labels: bugfix, front-end

#318 Implement person sync and change links to buttons in admin panel
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/state/auth/constants.ts
  frontend/src/state/canvas-settings/actions.ts
  frontend/src/state/canvas-settings/constants.ts
  frontend/src/state/canvas-settings/sagas.ts
Labels: adjustment, feature, front-end

#334 Add tests for QueuingService
  backend/src/test/kotlin/nl/utwente/horus/services/QueuingServiceTest.kt
Labels: back-end, testing

#319 Add tests for PersonService
  backend/src/test/kotlin/nl/utwente/horus/services/PersonServiceTest.kt
Labels: back-end, testing

#330 Implement browser titles
  frontend/src/components/pagebuilder.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/canvas-settings/CanvasCourseImport.tsx
  frontend/src/components/pages/canvas-settings/CanvasTokenForm.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/components/pages/queuing/ProjectorQueuingPage.tsx
  frontend/src/components/pages/queuing/ProjectorRoomPromptPage.tsx
Labels: feature, front-end

#335 Document and cleanup navigation bar state and comonents
  frontend/src/components/RouteExtension.tsx
  frontend/src/components/navigationBar/NavigationBar.tsx
  frontend/src/components/navigationBar/NavigationBarItem.tsx
  frontend/src/state/navigationBar/actions.ts
  frontend/src/state/navigationBar/constants.ts
  frontend/src/state/navigationBar/reducer.ts
  frontend/src/state/navigationBar/sagas.ts
  frontend/src/state/navigationBar/selectors.ts
  frontend/src/state/navigationBar/types.ts
  frontend/src/state/sagas.ts
Labels: documenting, front-end

#321 Minor UI fixes
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetImportModal.tsx
  frontend/src/components/pages/admin/labels/LabelCreateModal.tsx
  frontend/src/components/pages/admin/labels/LabelEditModal.tsx
  frontend/src/components/pages/canvas-settings/CanvasTokenForm.tsx
  frontend/src/components/pages/queuing/History.tsx
  frontend/src/components/pages/queuing/Queue.tsx
Labels: adjustment, bugfix, front-end

#331 Fixed state clearing issue on queuing page
  frontend/src/state/queuing/reducer.ts
Labels: bugfix, front-end

#337 Document general components
  frontend/src/components/App.tsx
  frontend/src/components/CanvasCard.tsx
  frontend/src/components/DesktopComponent.tsx
  frontend/src/components/JobProgress.tsx
  frontend/src/components/Label.tsx
  frontend/src/components/PhoneComponent.tsx
  frontend/src/components/SidebarPhone.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverviewSearch.tsx
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/components/util.ts
Labels: documenting, front-end

#336 Refresh permissions on course list load
  backend/src/main/kotlin/nl/utwente/horus/controllers/person/PersonController.kt
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/state/auth/actions.ts
  frontend/src/state/auth/constants.ts
  frontend/src/state/auth/sagas.ts
Labels: back-end, bugfix, front-end

#327 Queue editing
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/queuing/QueuingController.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/Queue.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/QueuingStateManager.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/Room.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/queuing/requests/QueueUpdateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/queuing/QueuingService.kt
  frontend/src/api/types.d.ts
  frontend/src/components/pages/queuing/ProjectorQueuingPage.tsx
  frontend/src/components/pages/queuing/Queue.tsx
  frontend/src/components/pages/queuing/QueueEditModal.tsx
  frontend/src/components/pages/queuing/QueuingPage.tsx
  frontend/src/state/queuing/actions.ts
  frontend/src/state/queuing/constants.ts
  frontend/src/state/queuing/sagas.ts
Labels: back-end, feature, front-end

#316 Not found page
  frontend/src/components/App.tsx
  frontend/src/components/pagebuilder.tsx
  frontend/src/components/pages/NotFound.tsx
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetManager.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/admin/labels/LabelManager.tsx
  frontend/src/components/pages/admin/supplementaryroles/RolesManager.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/state/auth/constants.ts
Labels: feature, front-end

#339 Use back-end exception messages
  frontend/src/api/util.ts
  frontend/src/state/assignments/sagas.ts
  frontend/src/state/auth/sagas.ts
  frontend/src/state/canvas-settings/sagas.ts
  frontend/src/state/comments/sagas.ts
  frontend/src/state/courses/sagas.ts
  frontend/src/state/groups/sagas.ts
  frontend/src/state/jobs/sagas.ts
  frontend/src/state/labels/sagas.ts
  frontend/src/state/overview/saga.ts
  frontend/src/state/participants/sagas.ts
  frontend/src/state/queuing/sagas.ts
  frontend/src/state/roles/sagas.ts
  frontend/src/state/rooms/sagas.ts
  frontend/src/state/search/sagas.ts
  frontend/src/state/sign-off/sagas.ts
  frontend/src/state/student-dashboard/sagas.ts
Labels: adjustment, bugfix, front-end

#338 Document cleanup assignmentsetmanager
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetCreatorModal.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetEditorModal.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetListEntry.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetManager.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/admin/labels/LabelManager.tsx
  frontend/src/components/pages/admin/supplementaryroles/RolesManager.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
  frontend/src/state/assignments/constants.ts
Labels: documenting, front-end

#340 Improve warning notification visibility
  frontend/src/components/pages/queuing/QueuingPage.tsx
Labels: adjustment, front-end

#347 Fix notification alert display on phone
  frontend/src/components/pages/queuing/QueuingPage.tsx
Labels: adjustment, bugfix, front-end

#346 Fix page titles
  frontend/src/components/pagebuilder.tsx
Labels: bugfix, front-end

#320 Add tests for ParticipantService
  backend/src/test/kotlin/nl/utwente/horus/HorusAbstractTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/LabelServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/ParticipantServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/RoleServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/SignOffServiceTest.kt
Labels: back-end, testing

#332 Add tests for GroupService and SignOffService
  backend/src/main/kotlin/nl/utwente/horus/entities/group/Group.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/signoff/SignOffService.kt
  backend/src/test/kotlin/nl/utwente/horus/HorusAbstractTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/CourseServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/GroupServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/SignOffServiceTest.kt
Labels: back-end, testing

#333 Add tests for CommentService
  backend/src/main/kotlin/nl/utwente/horus/services/comment/CommentService.kt
  backend/src/test/kotlin/nl/utwente/horus/services/CommentServiceTest.kt
Labels: back-end, testing

#343 Add tests for BatchJobExecutor
  backend/src/main/kotlin/nl/utwente/horus/controllers/jobs/JobController.kt
  backend/src/main/kotlin/nl/utwente/horus/services/job/BatchJobExecutor.kt
  backend/src/test/kotlin/nl/utwente/horus/services/BatchJobExecutorTest.kt
Labels: back-end, testing

#342 Add tests for SupplementaryRoleService
  backend/src/test/kotlin/nl/utwente/horus/services/SignOffServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/SupplementaryRoleServiceTest.kt
Labels: back-end, testing

#348 Document...
  frontend/src/components/pages/canvas-settings/CanvasCourseImport.tsx
  frontend/src/components/pages/canvas-settings/CanvasTokenForm.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/course-dashboard/CourseStudentDashboard.tsx
  frontend/src/components/pages/course-dashboard/CourseTATeacherDashboard.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/components/pages/login/Login.tsx
Labels: documenting, front-end

#349 Document and cleanup code: queuing
  frontend/src/components/pages/queuing/AnnouncementCreateModal.tsx
  frontend/src/components/pages/queuing/AnnouncementDeleteModal.tsx
  frontend/src/components/pages/queuing/Busyness.tsx
  frontend/src/components/pages/queuing/History.tsx
  frontend/src/components/pages/queuing/PopupModal.tsx
  frontend/src/components/pages/queuing/ProjectorQueuingPage.tsx
  frontend/src/components/pages/queuing/ProjectorRoomPromptPage.tsx
  frontend/src/components/pages/queuing/Queue.tsx
  frontend/src/components/pages/queuing/QueueCreateModal.tsx
  frontend/src/components/pages/queuing/QueueDeleteModal.tsx
  frontend/src/components/pages/queuing/QueueEditModal.tsx
  frontend/src/components/pages/queuing/QueueTimeBadge.tsx
  frontend/src/components/pages/queuing/QueuingPage.tsx
  frontend/src/components/pages/queuing/QueuingSocket.ts
Labels: adjustment, bugfix, documenting, front-end

#341 Document and cleanup group set manager components and state
  frontend/src/components/pages/admin/groups/groupSets/GroupSetImportModal.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupListItem.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/state/groups/actions.ts
  frontend/src/state/groups/constants.ts
Labels: documenting, front-end

#345 Document and cleanup remaining part of administration
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/Jobs.tsx
  frontend/src/components/pages/admin/labels/LabelAddDropdown.tsx
  frontend/src/components/pages/admin/labels/LabelCreateModal.tsx
  frontend/src/components/pages/admin/labels/LabelDeleteModal.tsx
  frontend/src/components/pages/admin/labels/LabelEditModal.tsx
  frontend/src/components/pages/admin/labels/LabelManager.tsx
  frontend/src/components/pages/admin/labels/ParticipantLabelInfo.tsx
  frontend/src/components/pages/admin/supplementaryroles/RolesManager.tsx
  frontend/src/components/pages/admin/supplementaryroles/SuppRoleLabel.tsx
Labels: documenting, front-end

#350 Document and cleanup rooms
  frontend/src/components/pages/rooms/RoomCreateModal.tsx
  frontend/src/components/pages/rooms/RoomDeleteModal.tsx
  frontend/src/components/pages/rooms/Rooms.tsx
Labels: documenting, front-end

#351 Document sign-off and overview; fix bug with clearing search input in overview
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverviewSearch.tsx
  frontend/src/components/pages/sign-off/CommentModal.tsx
  frontend/src/components/pages/sign-off/SignOffDetails.tsx
  frontend/src/components/pages/sign-off/SignOffHistoryModal.tsx
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
  frontend/src/components/pages/sign-off/SignoffTable.tsx
Labels: bugfix, documenting, front-end

#353 DB migrations related to Canvas and label assignment permissions
  backend/src/main/kotlin/nl/utwente/horus/entities/canvas/TokenSource.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/canvas/TokenSourceRepository.kt
  backend/src/main/resources/db/migration/V1.7.1_1__token_source_no_id.sql
  backend/src/main/resources/db/migration/V1.7.2_1__ta_less_permissions.sql
  backend/src/test/kotlin/nl/utwente/horus/HorusAbstractTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/CommentControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/ParticipantControllerPermissionTest.kt
Labels: adjustment, back-end

#352 Canvas groupset sync + library update
  backend/libs/canvas-api-1.1.0-SNAPSHOT.jar
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
Labels: adjustment, back-end

#359 Set Micrometer application tag
  backend/src/main/resources/application.properties
Labels: back-end, configuration

#358 Add cross-tab login/logout
  frontend/src/api/index.ts
  frontend/src/api/sagas.ts
  frontend/src/components/App.tsx
  frontend/src/state/auth/sagas.ts
Labels: bugfix, front-end

#356 Fix issue with immutable comment threads
  frontend/src/components/comments/CommentThread.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
Labels: bugfix, front-end

#360 Spreadsheet comments
  backend/src/main/kotlin/nl/utwente/horus/services/sheets/ExportService.kt
Labels: back-end, feature

#354 Queuing close error handling and move `getCurrentParticipant` to `courses`
  frontend/src/components/DesktopComponent.tsx
  frontend/src/components/comments/Comment.tsx
  frontend/src/components/pagebuilder.tsx
  frontend/src/components/pages/queuing/ProjectorQueuingPage.tsx
  frontend/src/components/pages/queuing/QueuingPage.tsx
  frontend/src/components/pages/rooms/Rooms.tsx
  frontend/src/state/courses/action.ts
  frontend/src/state/courses/constants.ts
  frontend/src/state/courses/reducer.ts
  frontend/src/state/courses/sagas.ts
  frontend/src/state/courses/selectors.ts
  frontend/src/state/courses/types.ts
  frontend/src/state/queuing/actions.ts
  frontend/src/state/queuing/constants.ts
  frontend/src/state/queuing/reducer.ts
  frontend/src/state/queuing/sagas.ts
  frontend/src/state/queuing/selectors.ts
  frontend/src/state/queuing/types.ts
Labels: bugfix, front-end

#361 Try to fix logout redirect issue
  frontend/src/api/sagas.ts
  frontend/src/components/App.tsx
Labels: bugfix, front-end

#362 Multiple random fixes
  frontend/src/components/App.tsx
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/assignmentSetManager/AssignmentSetEditorModal.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/components/pages/queuing/ProjectorRoomPromptPage.tsx
  frontend/src/routes.ts
  frontend/src/state/auth/constants.ts
  frontend/src/state/canvas-settings/actions.ts
  frontend/src/state/canvas-settings/constants.ts
  frontend/src/state/canvas-settings/sagas.ts
  frontend/src/state/queuing/reducer.ts
  frontend/src/state/rooms/reducer.ts
Labels: adjustment, bugfix, front-end

#355 Add logo to horus front-end
  frontend/package.json
  frontend/src/components/navigationBar/NavigationBar.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/images/horus.png
  frontend/src/images/horus_symbol.png
  frontend/src/index.html
  frontend/src/static/android-chrome-192x192.png
  frontend/src/static/android-chrome-512x512.png
  frontend/src/static/apple-touch-icon.png
  frontend/src/static/browserconfig.xml
  frontend/src/static/favicon-16x16.png
  frontend/src/static/favicon-32x32.png
  frontend/src/static/favicon.ico
  frontend/src/static/mstile-150x150.png
  frontend/src/static/safari-pinned-tab.svg
  frontend/src/static/site.webmanifest
  frontend/src/sw.js
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: adjustment, feature, front-end

#357 Add authentication tests
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/AccessTokenRequestAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/DummyPasswordLoginProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/JWTAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/SAML2SSOAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/HorusUserDetailService.kt
  backend/src/test/kotlin/nl/utwente/horus/auth/AuthenticationProviderTest.kt
  backend/src/test/resources/application.properties
Labels: back-end, testing

#364 Add restriction on joining queues based on linked assignmentsets
  frontend/src/components/pages/queuing/QueuingPage.tsx
Labels: bugfix, front-end

#369 Add README
  README.md
  horus.png
Labels: documenting

#367 Fix issue with joining questions list
  frontend/src/components/pages/queuing/QueuingPage.tsx
Labels: bugfix, front-end

#368 Fix the participant disabling holes
  backend/src/main/kotlin/nl/utwente/horus/controllers/BaseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentSetRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/course/Course.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/course/CourseRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupSetRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/ParticipantRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/person/Person.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/person/PersonDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/test/kotlin/nl/utwente/horus/services/ParticipantServiceTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/SignOffServiceTest.kt
Labels: back-end, bugfix

#366 Queuing documentation
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/AuthCodeToken.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/UsernamePasswordToken.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/util/HttpUtil.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/util/SAML2Util.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/queuing/QueuingController.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/Queue.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/QueueParticipant.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/QueuingStateManager.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/QueuingWebSocketHandler.kt
  backend/src/main/kotlin/nl/utwente/horus/queuing/Room.kt
  backend/src/main/kotlin/nl/utwente/horus/services/queuing/QueuingService.kt
Labels: back-end, bugfix, documenting

#371 Backend documentation for Canvas and BatchJob API
  backend/src/main/kotlin/nl/utwente/horus/controllers/BaseController.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/job/BatchJob.kt
  backend/src/main/kotlin/nl/utwente/horus/services/job/BatchJobExecutor.kt
  backend/src/test/kotlin/nl/utwente/horus/controllers/CourseControllerPermissionTest.kt
Labels: back-end, documenting

#370 Fix SAML login deep-link redirects not working
  frontend/src/components/App.tsx
  frontend/src/routes.ts
  frontend/src/state/auth/sagas.ts
Labels: bugfix, front-end

#372 Fix Assignment <-> Participant constraint checking prematurely
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupMemberRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
Labels: back-end, bugfix

#374 Fix rendering logic (order) in projector page
  frontend/src/components/pages/queuing/ProjectorQueuingPage.tsx
Labels: bugfix, front-end

#373 Fix bug where busyness queue counter was not shown on small devices
  frontend/src/components/pages/queuing/Busyness.tsx
Labels: bugfix, front-end

#375 Fix an issue where the onBlurCapture event caused weird behavior
  frontend/src/components/pages/sign-off/SignOffSearch.tsx
Labels: bugfix, front-end

#376 Add assignment set name to overview page (and remove capital O from Off)
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
Labels: adjustment, front-end
