Repository VriesDeRick/horus, pull requests merged in 2019-02, with the labels that each got.

#11 Fix unused import in login form
  frontend/src/components/pages/login/Login.tsx
Labels: bugfix

#12 Fix yarn commands
  backend/frontend.gradle
Labels: bugfix

#14 Add dummy file to commit migrations folder
  backend/src/main/resources/db/migration/.gitkeep
Labels: bugfix

#15 Fix yarn building from Gradle on non-Windows
  backend/frontend.gradle
Labels: bugfix, tooling

#25 Initial DB schema and entities
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/Assignment.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentSet.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentSignOffResult.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/SignOffResult.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/Permission.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/Role.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/RoleName.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/RolePermission.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/comment/Comment.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/comment/CommentThread.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/comment/CommentType.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/course/Course.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/Group.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupMember.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupSet.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/Participant.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/person/Person.kt
  backend/src/main/resources/db/migration/V1.0.0_1__initial_database_schema.sql
Labels: back-end

#30 Course fetch endpoint [MERGE AFTER SCHEMA PR]
  backend/src/main/kotlin/nl/utwente/horus/HorusApplication.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/course/CourseRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/course/CourseDtoBrief.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
Labels: back-end

#31 Fix comment thread ID not being BigSerial
  backend/src/main/resources/db/migration/V1.0.0_1__initial_database_schema.sql
Labels: bugfix

#32 Fix duplicate sequence and missing PK on `comment`
  backend/src/main/resources/db/migration/V1.0.0_1__initial_database_schema.sql
Labels: bugfix

#35 Authentication
  backend/build.gradle
  backend/src/main/kotlin/nl/utwente/horus/HorusApplication.kt
  backend/src/main/kotlin/nl/utwente/horus/HorusConfigurationProperties.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/AccessTokenRequestAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/EnsureAccessTokenAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/JWTAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/PasswordLoginAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/handlers/AccessTokenRequestSuccessHandler.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/handlers/LoginSuccessHandler.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/AccessTokenRequestAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/DummyPasswordLoginProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/providers/JWTAuthenticationProvider.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/AbstractJWTToken.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/AccessToken.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/RawToken.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/RefreshToken.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/TokenFactory.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/TokenPair.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/TokenType.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/util/JWTUtil.kt
  backend/src/main/kotlin/nl/utwente/horus/configurations/HorusWebSecurityConfiguration.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/person/Person.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/person/PersonRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/PersonNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/auth/AuthTokenResponse.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/auth/HorusAuthority.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/auth/PasswordLoginRequest.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/HorusUserDetailService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/HorusUserDetails.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/person/PersonService.kt
  backend/src/main/resources/application-develop.properties
Labels: back-end

#38 Add group/assignment mapping Entity and table
  backend/src/main/kotlin/nl/utwente/horus/entities/assignmentgroupmapping/AssignmentGroupSetsMapping.kt
  backend/src/main/resources/db/migration/V1.0.0_1__initial_database_schema.sql
Labels: back-end, bugfix

#36 Setup compiling CI checks
  .gitlab-ci.yml
Labels: tooling

#40 Add authentication to the frontend
  frontend/package.json
  frontend/src/api/actions.ts
  frontend/src/api/constants.ts
  frontend/src/api/index.ts
  frontend/src/api/sagas.ts
  frontend/src/api/util.ts
  frontend/src/components/App.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/index.tsx
  frontend/src/state/auth/actions.ts
  frontend/src/state/auth/constants.ts
  frontend/src/state/auth/reducer.ts
  frontend/src/state/auth/sagas.ts
  frontend/src/state/auth/types.ts
  frontend/src/store.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: front-end

#39 Add mocking data to local database
  backend/src/main/kotlin/nl/utwente/horus/DatabasePopulator.kt
  backend/src/main/resources/db/mockdata/1_courses.sql
  backend/src/main/resources/db/mockdata/1a_roles.sql
  backend/src/main/resources/db/mockdata/2_person.sql
  backend/src/main/resources/db/mockdata/3_comments.sql
  backend/src/main/resources/db/mockdata/4_participant.sql
  backend/src/main/resources/db/mockdata/5_assignment_sets.sql
  backend/src/main/resources/db/mockdata/6_assignments.sql
  backend/src/main/resources/db/mockdata/7_groups.sql
  backend/src/main/resources/db/mockdata/8_group_members.sql
  backend/src/main/resources/db/mockdata/9_group_assignment_mapping.sql
Labels: back-end

#41 Fix miscellaneous bugs
  backend/src/main/kotlin/nl/utwente/horus/auth/tokens/TokenFactory.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/util/JWTUtil.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/Role.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/RoleName.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/comment/CommentThread.kt
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V1.0.0_1__initial_database_schema.sql
  backend/src/main/resources/db/mockdata/1a_roles.sql
  backend/src/main/resources/db/mockdata/4_participant.sql
Labels: back-end, bugfix

#45 Typescript generator and generated code
  backend/build.gradle
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  frontend/src/state/types.d.ts
  frontend/tslint.json
Labels: back-end, front-end

#46 Fix body issues in fetch JSON
  frontend/src/api/util.ts
Labels: bugfix, front-end

#48 Added endpoint for listing group sets within course
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupSet.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
Labels: back-end

#49 Role of current user in courses list
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/AuthenticationRequiredException.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/course/CourseDtoSummary.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/HorusUserDetailService.kt
  frontend/src/state/types.d.ts
Labels: back-end, bugfix

#50 Bugfix auth reload
  frontend/src/api/sagas.ts
Labels: bugfix, front-end

#53 Fix DB naming "orderkey" and add assignment endpoint
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/Assignment.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/AssignmentSetNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/resources/db/migration/V1.0.0_1__initial_database_schema.sql
  backend/src/main/resources/db/mockdata/6_assignments.sql
Labels: back-end

#52 Endpoints for mappings in course and properties for mappings in entities
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentSet.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignmentgroupmapping/AssignmentGroupSetsMapping.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignmentgroupmapping/AssignmentGroupSetsMappingRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupSet.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentGroupSetsMappingDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentSetDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/group/GroupSetDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  frontend/src/state/types.d.ts
Labels: back-end

#54 Add global navigation sidebar except for login
  frontend/src/components/App.tsx
  frontend/src/styling/index.scss
Labels: feature, front-end

#57 Course selection frontend
  frontend/src/api/index.ts
  frontend/src/components/App.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/components/pages/dashboard/Dashboard.tsx
  frontend/src/state/course-selection/action.ts
  frontend/src/state/course-selection/constants.ts
  frontend/src/state/course-selection/reducer.ts
  frontend/src/state/course-selection/sagas.ts
  frontend/src/state/course-selection/selectors.ts
  frontend/src/state/course-selection/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/sagas.ts
  frontend/src/state/state.ts
  frontend/src/styling/index.scss
  frontend/webpack.config.js
Labels: front-end

#58 Added comment GET endpoints
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/comment/CommentThreadController.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/CommentNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/CommentThreadNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/CommentThreadStaffOnly.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/comment/CommentThreadDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/services/comment/CommentService.kt
  frontend/src/state/types.d.ts
Labels: back-end, feature

#60 Add CourseDtoFull and endpoint for fetching participants
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/NoParticipantException.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/course/CourseDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/course/CourseDtoSummary.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  frontend/src/state/types.d.ts
Labels: back-end, feature

#76 Notification system
  frontend/src/components/App.tsx
  frontend/src/components/notifications/Notification.tsx
  frontend/src/components/notifications/NotificationList.tsx
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/state/course-selection/action.ts
  frontend/src/state/course-selection/constants.ts
  frontend/src/state/course-selection/reducer.ts
  frontend/src/state/course-selection/sagas.ts
  frontend/src/state/course-selection/selectors.ts
  frontend/src/state/course-selection/types.ts
  frontend/src/state/notifications/actions.ts
  frontend/src/state/notifications/constants.ts
  frontend/src/state/notifications/reducers.ts
  frontend/src/state/notifications/selectors.ts
  frontend/src/state/notifications/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/state.ts
  frontend/src/styling/index.scss
Labels: feature, front-end

#79 Add AssignmentSet create/update endpoints (no permissions)
  backend/src/main/kotlin/nl/utwente/horus/controllers/assignment/AssignmentSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/AssignmentSetNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/AssignmentSetNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/InvalidAssignmentCreateRequestException.java
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/InvalidAssignmentUpdateRequestException.java
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentCreateUpdateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentSetCreateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentSetUpdateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
Labels: back-end, feature

#82 Endpoints for creating/updating participants, courses and comments
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/comment/CommentController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/comment/CommentThreadController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/auth/RoleRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/participant/Participant.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/RoleNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/WrongCourseException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/ParticipantNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/comment/CommentCreateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/comment/CommentThreadCreateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/comment/CommentThreadUpdateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/comment/CommentUpdateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/course/CourseCreateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/course/CourseUpdateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/participant/ParticipantCreateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/participant/ParticipantUpdateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/auth/RoleService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/comment/CommentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/main/resources/db/migration/V1.0.0_1__initial_database_schema.sql
  frontend/src/state/types.d.ts
Labels: back-end, feature

#81 Improve cards and general layout/styling
  frontend/src/components/App.tsx
  frontend/src/components/pages/assignments/AssignmentSetListEntry.tsx
  frontend/src/components/pages/assignments/Assignments.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/components/pages/course-selection/CourseSelection.tsx
  frontend/src/index.html
  frontend/src/styling/index.scss
Labels: bugfix, front-end

#80 Apply notification system on AssignmentSets part of the frontend
  frontend/src/components/App.tsx
  frontend/src/components/NavigationBarOverlay.tsx
  frontend/src/components/pages/assignments/AssignmentSetListEntry.tsx
  frontend/src/components/pages/assignments/Assignments.tsx
  frontend/src/state/assignments/actions.ts
  frontend/src/state/assignments/constants.ts
  frontend/src/state/assignments/reducer.ts
  frontend/src/state/assignments/sagas.ts
  frontend/src/state/assignments/selectors.ts
  frontend/src/state/assignments/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/sagas.ts
  frontend/src/state/state.ts
Labels: front-end

#86 Course dashboard
  frontend/src/components/App.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/components/pages/dashboard/Dashboard.tsx
  frontend/src/components/util.ts
  frontend/src/index.html
  frontend/src/state/course-selection/action.ts
  frontend/src/state/course-selection/constants.ts
  frontend/src/state/course-selection/reducer.ts
  frontend/src/state/course-selection/sagas.ts
  frontend/src/state/course-selection/selectors.ts
  frontend/src/state/notifications/types.ts
  frontend/src/styling/index.scss
Labels: feature, front-end

#90 Fix sizing of assignment set cards
  frontend/src/components/pages/assignments/AssignmentSetListEntry.tsx
  frontend/src/styling/index.scss
Labels: bugfix, front-end

#89 Use InputStream for populating DB from scripts
  backend/src/main/kotlin/nl/utwente/horus/DatabasePopulator.kt
Labels: back-end

#77 Import courses from Canvas
  backend/build.gradle
  backend/libs/canvas-api-1.1.0-SNAPSHOT.jar
  backend/src/main/kotlin/nl/utwente/horus/Extensions.kt
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/canvas/CanvasToken.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/canvas/CanvasTokenRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/canvas/TokenSource.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/canvas/TokenSourceRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/course/CourseRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/Group.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupSetRepository.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/CanvasTokenNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/InvalidCanvasTokenException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/SyncUnauthorizedException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/GroupNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/GroupSetNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/canvas/CanvasCourseDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/canvas/CanvasTokenCheckResultDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/canvas/CanvasTokenDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasReaderWriter.kt
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  backend/src/main/resources/application-develop.properties
  backend/src/main/resources/db/migration/V1.0.0_1__initial_database_schema.sql
  backend/src/main/resources/db/mockdata/7_groups.sql
  frontend/src/state/types.d.ts
Labels: back-end, feature

#91 Add proper error handling and clean up Exception files
  backend/src/main/kotlin/nl/utwente/horus/TypescriptGenerator.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/RestExceptionHandler.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/canvas/CanvasController.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/AuthenticationRequiredException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/CanvasTokenNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/CommentNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/CommentThreadNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/CommentThreadStaffOnly.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/CourseNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/EntityNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/ForbiddenExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/HorusException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/InvalidCanvasTokenException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/NoParticipantException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/NotFoundExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/PersonNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/RoleNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/SyncUnauthorizedException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/UnauthorizedExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/WrongCourseException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/AssignmentSetNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/GroupNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/GroupSetNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/InvalidAssignmentCreateRequestException.java
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/InvalidAssignmentUpdateRequestException.java
  backend/src/main/kotlin/nl/utwente/horus/exceptions/assignment/ParticipantNotFoundException.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/error/ErrorDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/participant/ParticipantService.kt
  frontend/src/state/types.d.ts
Labels: back-end

#95 Check for existence of assignment before updating it
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
Labels: back-end, bugfix

#98 Add static frontend SPA serving
  backend/src/main/kotlin/nl/utwente/horus/controllers/FrontendController.kt
  backend/src/main/resources/application-production.properties
  backend/src/main/resources/application.properties
Labels: back-end, configuration

#93 Navigation bar buttons functionality and appearance
  frontend/package.json
  frontend/src/components/App.tsx
  frontend/src/components/NavigationBar.tsx
  frontend/src/components/NavigationBarOverlay.tsx
  frontend/src/components/RouteExtension.tsx
  frontend/src/components/pages/assignments/assignmentSetManager/AssignmentSetListEntry.tsx
  frontend/src/components/pages/assignments/assignmentSetManager/AssignmentSetManager.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/home/Home.tsx
  frontend/src/components/pages/navigationBar/NavigationBar.tsx
  frontend/src/components/pages/navigationBar/NavigationBarItem.tsx
  frontend/src/images/university_of_twente_logo_black.png
  frontend/src/images/university_of_twente_logo_white.png
  frontend/src/routes.ts
  frontend/src/state/auth/sagas.ts
  frontend/src/state/course-selection/sagas.ts
  frontend/src/state/navigationBar/actions.ts
  frontend/src/state/navigationBar/constants.ts
  frontend/src/state/navigationBar/reducer.ts
  frontend/src/state/navigationBar/sagas.ts
  frontend/src/state/navigationBar/selectors.ts
  frontend/src/state/navigationBar/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/sagas.ts
  frontend/src/state/state.ts
  frontend/src/staticmodules.d.ts
  frontend/src/styling/index.scss
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: feature, front-end

#97 Adjust card consistency
  frontend/src/components/CanvasCard.tsx
  frontend/src/components/pages/assignments/assignmentSetManager/AssignmentSetListEntry.tsx
  frontend/src/components/pages/course-dashboard/CourseDashboard.tsx
  frontend/src/components/pages/course-selection/CourseList.tsx
  frontend/src/state/course-selection/selectors.ts
  frontend/src/styling/index.scss
Labels: adjustment, front-end

#99 Assignment ordering on back-end
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/Assignment.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/assignment/AssignmentSet.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentCreateUpdateDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentDtoBrief.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/assignment/AssignmentSetDtoFull.kt
  backend/src/main/kotlin/nl/utwente/horus/services/assignment/AssignmentService.kt
  backend/src/main/resources/db/migration/V1.0.0_1__initial_database_schema.sql
  backend/src/main/resources/db/mockdata/6_assignments.sql
  frontend/src/state/types.d.ts
Labels: back-end, feature

#101 Add group admin and admin nav page
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/controllers/group/GroupSetsController.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  frontend/src/components/App.tsx
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/admin/groups/groups/GroupListItem.tsx
  frontend/src/components/pages/admin/groups/groups/GroupManager.tsx
  frontend/src/components/pages/navigationBar/NavigationBar.tsx
  frontend/src/routes.ts
  frontend/src/state/groups/actions.ts
  frontend/src/state/groups/constants.ts
  frontend/src/state/groups/reducer.ts
  frontend/src/state/groups/sagas.ts
  frontend/src/state/groups/selectors.ts
  frontend/src/state/groups/types.ts
  frontend/src/state/reducer.ts
  frontend/src/state/sagas.ts
  frontend/src/state/state.ts
Labels: back-end, feature, front-end
