Repository VriesDeRick/horus, pull requests merged in 2019-05, with the labels that each got.

#380 Added user manual to repository
  User Manual.pdf
Labels: documenting

#381 Implement room redirect in busyness
  frontend/src/components/pages/queuing/Busyness.tsx
Labels: feature, front-end

#382 Hotfix busyness redirect (no new socket established)
  frontend/src/components/pages/queuing/QueuingPage.tsx
Labels: bugfix, front-end

#383 Manual link
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/login/Login.tsx
  frontend/src/routes.ts
  frontend/src/static/manual.pdf
Labels: feature, front-end
