Repository VriesDeRick/horus, pull requests merged in 2019-09, with the labels that each got.

#413 Student finished count
  frontend/src/components/pages/sign-off-overview/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
Labels: feature, front-end

#414 Rename admin panel buttons to improve clarity + comment button titles
  frontend/src/components/pages/admin/CourseAdministration.tsx
  frontend/src/components/pages/admin/groups/groupSets/GroupSetManager.tsx
  frontend/src/components/pages/queuing/Busyness.tsx
  frontend/src/components/pages/queuing/Queue.tsx
  frontend/src/components/pages/sign-off-overview/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off-overview/GroupTableCell.tsx
  frontend/src/components/pages/sign-off-overview/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off-overview/SignoffResultTableCell.tsx
  frontend/src/components/pages/sign-off/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off/GroupTableCell.tsx
  frontend/src/components/pages/sign-off/ParticipantTableCell.tsx
  frontend/src/components/pages/sign-off/SignoffResultTableCell.tsx
Labels: adjustment, front-end

#415 Improve loading completed count and progress bar for loading
  frontend/src/components/pages/sign-off-overview/AssignmentTableCell.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/state/overview/actions.ts
  frontend/src/state/overview/reducer.ts
  frontend/src/state/overview/saga.ts
  frontend/src/state/overview/selectors.ts
  frontend/src/state/overview/types.ts
  frontend/src/styling/index.scss
Labels: adjustment, bugfix, front-end, javascript

#416 Fix wrong optional method use in service
  backend/src/main/kotlin/nl/utwente/horus/services/person/PersonService.kt
Labels: back-end, bugfix

#447 Add logging for authentication errors
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/SAML2SSOAuthenticationResponseAuthenticationFilter.kt
Labels: back-end, bugfix

#448 SAML test extractor and version bump
  backend/build.gradle
  backend/src/main/kotlin/nl/utwente/horus/auth/filters/SAML2SSOAuthenticationResponseAuthenticationFilter.kt
  backend/src/main/kotlin/nl/utwente/horus/auth/saml/TestSAML2AttributeExtractionScheme.kt
  backend/src/main/kotlin/nl/utwente/horus/configurations/HorusWebSecurityConfiguration.kt
  backend/src/main/resources/application-develop.properties
Labels: adjustment, back-end, bugfix

#435 Implement 'show modal on question queue accept'
  frontend/src/components/pages/queuing/QuestionQueueAcceptModal.tsx
  frontend/src/components/pages/queuing/QueuingPage.tsx
Labels: feature, front-end
