Repository VriesDeRick/horus, pull requests merged in 2019-08, with the labels that each got.

#404 Sidebar on desktop component hidden by default
  frontend/src/components/DesktopComponent.tsx
  frontend/src/styling/index.scss
Labels: adjustment, feature, front-end

#405 Bugfix clarity student overview
  frontend/src/components/pages/course-dashboard/CourseStudentDashboard.tsx
  frontend/src/styling/index.scss
Labels: adjustment, bugfix, feature, front-end

#407 Advanced label search with DSL
  backend/.gitignore
  backend/build.gradle
  backend/src/main/kotlin/nl/utwente/horus/controllers/course/CourseController.kt
  backend/src/main/kotlin/nl/utwente/horus/dsl/SearchDSLToQueryNodeListener.kt
  backend/src/main/kotlin/nl/utwente/horus/dsl/SearchDSLUtil.kt
  backend/src/main/kotlin/nl/utwente/horus/dsl/antlr/SearchDSLGrammarBaseListener.java
  backend/src/main/kotlin/nl/utwente/horus/dsl/antlr/SearchDSLGrammarLexer.java
  backend/src/main/kotlin/nl/utwente/horus/dsl/antlr/SearchDSLGrammarListener.java
  backend/src/main/kotlin/nl/utwente/horus/dsl/antlr/SearchDSLGrammarParser.java
  backend/src/main/kotlin/nl/utwente/horus/dsl/antlr/SearchDSLGrammarVisitor.java
  backend/src/main/kotlin/nl/utwente/horus/entities/group/GroupFiltrationSpecification.kt
  backend/src/main/kotlin/nl/utwente/horus/entities/group/LabelFilterOperator.kt
  backend/src/main/kotlin/nl/utwente/horus/exceptions/BadRequestExceptions.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/dsl/LabelQueryNodeDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/dsl/OperatorQueryNodeDto.kt
  backend/src/main/kotlin/nl/utwente/horus/representations/dsl/QueryNodeDto.kt
  backend/src/main/kotlin/nl/utwente/horus/services/course/CourseService.kt
  backend/src/main/kotlin/nl/utwente/horus/services/group/GroupService.kt
  backend/src/main/resources/grammars/SearchDSLGrammar.g4
  backend/src/main/resources/grammars/SearchDSLLexer.g4
  backend/src/test/kotlin/nl/utwente/horus/controllers/CourseControllerPermissionTest.kt
  backend/src/test/kotlin/nl/utwente/horus/services/GroupServiceTest.kt
  frontend/package.json
  frontend/src/api/types.d.ts
  frontend/src/components/Label.tsx
  frontend/src/components/pages/sign-off-overview/AdvancedSearchInput.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverview.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverviewSearch.tsx
  frontend/src/components/util.ts
  frontend/src/state/overview/actions.ts
  frontend/src/state/overview/saga.ts
  frontend/src/styling/index.scss
  frontend/tslint.json
  frontend/yarn.lock
Labels: back-end, feature, front-end, java, javascript

#408 Create separate package for Java files
  backend/src/main/java/nl/utwente/horus/dsl/antlr/SearchDSLGrammarBaseListener.java
  backend/src/main/java/nl/utwente/horus/dsl/antlr/SearchDSLGrammarLexer.java
  backend/src/main/java/nl/utwente/horus/dsl/antlr/SearchDSLGrammarListener.java
  backend/src/main/java/nl/utwente/horus/dsl/antlr/SearchDSLGrammarParser.java
  backend/src/main/java/nl/utwente/horus/dsl/antlr/SearchDSLGrammarVisitor.java
Labels: back-end, bugfix

#411 Add 'Advanced Search' help modal
  frontend/src/components/pages/sign-off-overview/QueryHelpModal.tsx
  frontend/src/components/pages/sign-off-overview/SignOffOverviewSearch.tsx
Labels: adjustment, front-end

#409 Update group names when syncing with Canvas
  backend/src/main/kotlin/nl/utwente/horus/services/canvas/CanvasService.kt
Labels: back-end, bugfix

#410 Fix CSV section of manual explaining group naming
  User Manual.pdf
  frontend/src/static/manual.pdf
Labels: documenting

#412 Sanitize names used in spreadsheet export
  backend/src/main/kotlin/nl/utwente/horus/services/sheets/ExportService.kt
Labels: back-end, bugfix
